@model examenfinal1.Models.Miembro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Miembro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.m_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_apellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMiembro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
